# URL сокет-сервера для мультиплеера
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Ссылка для поддержки проекта (Boosty, Buy Me a Coffee, Ko-fi и т.д.)
NEXT_PUBLIC_SUPPORT_URL=https://boosty.to/chaosurvival/donate

#Соцсети и каналы игры
NEXT_PUBLIC_SOCIAL_VK=https://vk.com/your_group
NEXT_PUBLIC_SOCIAL_TELEGRAM=https://t.me/your_channel
NEXT_PUBLIC_SOCIAL_MAX=https://max.ru/your_channel
